
#container{
     border: 1px solid;
    padding: 20px;
    background-color: rgb(41, 49, 197);
}

.nav-list a:hover{
    color: rgb(98, 247, 98);
}

.hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.nav-list a i {
    margin-right: 8px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #6d6565;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin: 10px 0;
        text-align: center;
    }
}